In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv("https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv")
data.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [4]:
data.tail()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [5]:
print("The shape of the data is: ")
data.shape

The shape of the data is:

(506, 14)

In [6]:
data.isnull().sum()

crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
b          0
lstat      0
medv       0
dtype: int64

In [7]:
X = data.iloc[:,0:13]
y = data.iloc[:,-1]

In [10]:
print(X)

        crim    zn  indus  chas    nox     rm   age     dis  rad  tax  \
0    0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296
1    0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242
2    0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242
3    0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222
4    0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
501  0.06263   0.0  11.93     0  0.573  6.593  69.1  2.4786    1  273
502  0.04527   0.0  11.93     0  0.573  6.120  76.7  2.2875    1  273
503  0.06076   0.0  11.93     0  0.573  6.976  91.0  2.1675    1  273
504  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1  273
505  0.04741   0.0  11.93     0  0.573  6.030  80.8  2.5050    1  273

     ptratio       b  lstat
0       15.3  396.90   4.98
1       17.8  396.90   9.14
2       17.8  392.83   4.03
3       18.7  394.63   2.94
4       18.7  396.90   5.33
..       ...     ...    ...
501     21.0  391.99   9.67
502     21.0  396.90   9.08
503     21.0  396.90   5.64
504     21.0  393.45   6.48
505     21.0  396.90   7.88

[506 rows x 13 columns]

In [12]:
print(y)

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: medv, Length: 506, dtype: float64

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20,random_state=42)

In [13]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_test)

In [14]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(X_train,y_train)
y_pred=lr.predict(X_test)

In [15]:
print(y_pred)

[31.35290844 38.40284489 16.55844736 26.58918077 19.91977056 25.1731892
 19.37308702 15.75969523 24.33833186 22.27543124 27.41402232 20.8459715
 -6.20896092 23.57543782 20.54735122 27.65901059 22.29464294  6.47668542
 43.51769325 18.65320174 28.94446425 32.10558406 12.40906454 25.57699188
 18.88974664 16.83102191 24.5039016  15.70326165 24.46241833 20.72338387
 24.56515108 26.74159446 27.23281139 18.4655718  18.03968805 19.12254074
 33.3933528  21.22303715 25.76534897 26.2579554  15.40075909 34.23203047
 45.69799351 18.76263812 29.38156443 17.97525818 15.14193938 27.58190643
 21.55178037 32.48247972 23.50448384 37.00274292 17.25100412 27.75973646
 42.81276911 23.75468451 19.94827814 34.41733247 26.88766714 14.09034126
 23.9718086  32.23755994 33.59257448 16.82852653 21.64056532 18.57888398
 21.74112562 27.57817327 32.39925043 12.58182636 22.26578017 28.8742025
 11.88557332 16.0086648  25.64830477  6.56264247 23.01763905 44.38818755
 19.9327619  10.48266618 22.32675614 14.45371746 22.51727445 10.10708471
 25.03114451 34.31472906 20.33832092 27.00324769 30.90572937 21.55842374
 27.73225295  6.21764162 21.39361941 16.34295649 12.76229714 22.03756351
 25.94660862  0.4662358  14.62050066 17.47700113 24.03234402 26.33214532]